<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="%PUBLIC_URL%/favicon.ico">
    <link rel="stylesheet" href="../../../public/bootstrap-3.3.7-dist/css/bootstrap-theme.css">
    <link rel="stylesheet" href="./homepage.css">
    <title>React MovieBook SPA</title>
</head>
<body>
<div class="container">
    <div  class="jumbotron">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <a href="#" class="btn btn-success">Home</a>
                <a href="#" class="btn btn-success">Login</a>
                <a href="#" class="btn btn-success">Register</a>
                <a href="#" class="btn btn-success">Show Movies</a>
                <a href="#" class="btn btn-success">Create Movie topic</a>
                <a href="#" class="btn btn-success">Logout</a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div  class="jumbotron">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-10">
                <form class="form-horizontal">
                    <fieldset>
                        <legend>Create movie</legend>
                        <div class="form-group">
                            <label for="title" class="col-lg-2 control-label">Title</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" id="title" placeholder="Title" required>
                                <br>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="director" class="col-lg-2 control-label">Director</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" id="director" placeholder="Director" required>
                                <br>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="photo" class="col-lg-2 control-label">Photo</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" id="photo" placeholder="Photo">
                                <br>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="summary" class="col-lg-2 control-label">Summary</label>
                            <div class="col-lg-10">
                                <textarea type="text" class="form-control" rows="2" id="summary" placeholder="Summary"></textarea>
                                </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-2">
                                <button type="submit" class="btn btn-primary">Upload</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>

        </div>
    </div>
</div>
</div>



<div class="col-md-12">
    <div class="container">
        <div  class="jumbotron">
            <div class="footer">All rights reserved 2016 &copy; We are not responsible for the movie uploaded by our users.

            </div>
        </div>
    </div>
</div>

</body>
</html>
