<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="%PUBLIC_URL%/favicon.ico">
    <link rel="stylesheet" href="../../../public/bootstrap-3.3.7-dist/css/bootstrap-theme.css">
    <link rel="stylesheet" href="./homepage.css">
    <title>React MovieBook SPA</title>
</head>
<body>
<div class="container">
<div  class="jumbotron">
    <div class="row">
        <div class="col-md-2"></div>
         <div class="col-md-8">
            <a href="#" class="btn btn-success">Home</a>
            <a href="#" class="btn btn-success">Login</a>
            <a href="#" class="btn btn-success">Register</a>
            <a href="#" class="btn btn-success">Show Movies</a>
            <a href="#" class="btn btn-success">Create Movie topic</a>
            <a href="#" class="btn btn-success">Logout</a>
         </div>
    </div>
</div>
</div>

<div class="container">
    <div  class="jumbotron">
        <div class="fav-images" id="favImages">
    <div class="row">
        <div class="col-md-4">
            <div class="homepage-movie">
                <img src="./Titanic-Movie.jpg" alt="images"/>
                <div>Titanic</div>
                <div>Director: James Cameron</div>
        </div>

        </div>
        <div class="col-md-4">
            <div class="homepage-movie">
                <img src="./thelordoftheringstrilogy.jpg" alt="images"/>
                <div>The Lord of the Rings</div>
                <div>Director: Peter Jackson</div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="homepage-movie">
                <img src="./thehungergames.jpg" alt="images"/>
                <div>The Hunger Games</div>
                <div>Director: Gary Ross</div>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>
</div>



<div class="col-md-12">
    <div class="container">
        <div  class="jumbotron">
        <div class="footer">All rights reserved 2016 &copy; We are not responsible for the movie uploaded by our users.

    </div>
    </div>
</div>
</div>

</body>
</html>
