<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="%PUBLIC_URL%/favicon.ico">
    <link rel="stylesheet" href="../../../public/bootstrap-3.3.7-dist/css/bootstrap-theme.css">
    <link rel="stylesheet" href="./homepage.css">
    <title>React MovieBook SPA</title>
</head>
<body>
<div class="container">
    <div  class="jumbotron">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <a href="#" class="btn btn-success">Home</a>
                <a href="#" class="btn btn-success">Login</a>
                <a href="#" class="btn btn-success">Register</a>
                <a href="#" class="btn btn-success">Show Movies</a>
                <a href="#" class="btn btn-success">Create Movie topic</a>
                <a href="#" class="btn btn-success">Logout</a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div  class="jumbotron">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-10">
<form class="form-horizontal">
    <fieldset>
        <legend>Register</legend>
        <div class="form-group">
            <label for="username" class="col-lg-2 control-label">Username</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="username" placeholder="User name" required>
                <br>
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword" class="col-lg-2 control-label">Password</label>
            <div class="col-lg-10">
                <input type="password" class="form-control" id="inputPassword" placeholder="Password" required>
                <br>
            </div>
        </div>

        <div class="form-group">
            <label for="inputPassword" class="col-lg-2 control-label">Confirm password</label>
            <div class="col-lg-10">
                <input type="password" class="form-control" id="inputConfirmPassword" placeholder="Password" required>
                <br>
            </div>
        </div>
        <div class="form-group">
            <label for="email" class="col-lg-2 control-label">Email</label>
            <div class="col-lg-10">
                <input type="email" class="form-control" id="email" placeholder="Email">
            </div>
        </div>


        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </fieldset>
</form>
</div>

</div>
</div>
</div>
</div>


<div class="col-md-12">
    <div class="container">
        <div  class="jumbotron">
            <div class="footer">All rights reserved 2016 &copy; We are not responsible for the movie uploaded by our users.

            </div>
        </div>
    </div>
</div>

</body>
</html>
