<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="%PUBLIC_URL%/favicon.ico">
    <link rel="stylesheet" href="../../../public/bootstrap-3.3.7-dist/css/bootstrap-theme.css">
    <link rel="stylesheet" href="./homepage.css">
    <title>React MovieBook SPA</title>
</head>
<body>
<div class="container">
    <div  class="jumbotron">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <a href="#" class="btn btn-success">Home</a>
                <a href="#" class="btn btn-success">Login</a>
                <a href="#" class="btn btn-success">Register</a>
                <a href="#" class="btn btn-success">Show Movies</a>
                <a href="#" class="btn btn-success">Create Movie topic</a>
                <a href="#" class="btn btn-success">Logout</a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div  class="jumbotron">
        <div class="fav-images" id="favImages">
            <div class="movieview">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="./Titanic-Movie.jpg" alt="images"/></div>
                            <div class="col-md-8">
                                    <div><strong>Title:</strong>Titanic</div>
                                    <div><strong>Director:</strong> James Cameron</div>
                                    <div><strong>Summary:</strong>Трагичната гибел на най-големия и луксозен за времето си кораб с 2 223 пътника . Фаталният слъсък на "Титаник"с гигантски айсберг е една от най-трагичните катастрофи в историята на мореплаването. Филмът показва трагичният сблъсък и една вълнуваща любовна история между Роуз и Джак . Срещнали се на "кораба на мечтите", преживели най-великото блаженство, докоснали се до звездите, в само един безкраен миг всичко свършва жестоко, невъзвратимо...
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>
</div>



<div class="col-md-12">
    <div class="container">
        <div  class="jumbotron">
            <div class="footer">All rights reserved 2016 &copy; We are not responsible for the movie uploaded by our users.

            </div>
        </div>
    </div>
</div>

</body>
</html>
