.App{
    text-align: center;
}

#info-box, #loading-box, #error-box {
    width: 80%;
    margin: 10px auto;
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 3px;
    display: none;
    cursor: pointer;

}

#main {
    margin: 0 10px 0 10px;
}

.jumbotron{
    padding: 20px;
    margin-bottom: 15px;
}
